<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Dev Doodles API</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/home.css">
	</head>
	<body>
		<section class="todohome">
			<header>
				<h1>Dev Doodles API</h1>
			</header>
			<section>
				<a class="button" href="/login">Sign in</a>
			</section>
		</section>
		<footer class="info">
			<p>Created by <a href="https://www.ryanbonk.dev">Ryan Bonk</a></p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html